img {
  max-width: 100%;
  padding: 10px;
}

h1, h2, h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: yellowgreen;
  padding: 10px;
}

h1{
  font-size: 24px;
  font-weight: bold;
  text-align:left;

}

h2{
  font-size: 22px;
  font-weight: bold;
  text-align:left;

}

h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

p{
  color: gray;
  text-align:left;
}

.navbar{
    position: absolute;
}

.navbar a{
  background-color:lightblue;
  font-size: 12pt;
  color: black;
  list-style-type:none;
}

li
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

body {
  width: 100%;
  min-height:100%;
  background-color: slategray;
}

.col {
  width: 100%;
  /* border: black 1px solid; */
  /* Font color */
  /* color:blue;  */
} 

.homebtn{
  background-color: lightblue;
  z-index:2;
}

.homebtn a{
  width: 110px;
  background: rgba(4, 24, 140, 0.79);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}

.divtop{
  background-color: lightblue;
  z-index:2;
  padding-left: 20px;
  padding-right: 20px;

}

.divbody{
  background-color: white;
  z-index:1;
  padding: 10px;
  border: 20px;
  border-style: solid;
  border-color: slategray;
}

.divtable{
  text-align:center;
  background-color: white;
  z-index:1;
  padding: 20px;
}

.divfoot {
  width:100%;
  /* position:absolute; */
  bottom:0;
  background-color: rgb(45, 44, 44);
  z-index:0;
  font-size: auto;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.active-link{
  border: 5px solid yellowgreen;
}

@media (max-width: 800px) {
.divtop {
  background-color: yellowgreen;}
.homebtn{
  background-color: yellowgreen;}
.navbar a{
  background-color:yellowgreen;}
  }